- game = this

.game
  .stats
    .money
      .title
        Money
      ¢
      = @money
  .fibers
    %h2 Supply
    - each @purchasableFibers, (fiber) ->
      .fiber
        .price
          ¢
          = fiber.price
        .price
          = "(¢#{Math.floor fiber.price / fiber.amount} ea)"
        .type= fiber.type
        .amount= "#{fiber.amount} kg"
        %button.purchase Purcase!
          - on "click", ->
            - game.purchase(fiber)

  .bins
    %h2 Materials
    - each @bins, (item) ->
      .item
        .type= item.type
        .amount= item.amount

  .cyborgs
    %h2 Cyborgs
    - each @cyborgs, (cyborg) ->
      .cyborg
        %progress(value=cyborg.durability max=cyborg.durabilityMax)
        .name= cyborg.name

        %select
          %option
          - each game.bins, (bin) ->
            %option(value=bin.type)= bin.type()
          - on "change", cyborg.selectedBin

        %button Knit!
          - on "click", ->
            - console.log "yolo"
            - cyborg.produce cyborg.selectedBin(), game.output

  .inventory
    %h2 Inventory
    - each @inventory, (item) ->
      .item
        .type= item.type
        .amount= item.amount

  .demands
    %h2 Demand
    - each @demands, (item) ->
      .demand
        .type
          = item.type
          = " Knitted Goblin"
        .price
          ¢
          = item.price
        %button.sell Sell
          - on "click", ->
            - game.sell item

#player

#overlay
  %h2
  %button.dismiss Ok, I got it!
