- game = this

.game
  .stats
    .money
      .title
        Money
      ¢
      = @money
  .fibers
    %h2 Fibers
    - each @purchasableFibers, (fiber) ->
      .fiber
        .price
          ¢
          = fiber.price
        .type= fiber.type
        .amount= "#{fiber.amount} kg"
        %button.purchase Purcase!
          - on "click", ->
            - game.purchase(fiber)

  .bins
    %h2 Bins
    - each @bins, (item) ->
      .item
        .type= item.type
        .amount= item.amount

  .cyborgs
    %h2 Cyborgs
    - each @cyborgs, (cyborg) ->
      .cyborg
        %progress(value=cyborg.durability max=cyborg.durabilityMax)
        .name= cyborg.name

        %select
          %option
          - each game.bins, (bin) ->
            %option(value=bin.type)= bin.type()
          - on "change", cyborg.selectedBin

        %button Knit!
          - on "click", ->
            - console.log "yolo"
            - cyborg.produce cyborg.selectedBin(), game.output

  .inventory
    %h2 Inventory
    - each @inventory, (item) ->
      .item
        .type= item.type
        .amount= item.amount

  .demand
    %h2 Demand
