- game = this

.game
  .stats
    .money
      .title
        Money
      ¢
      = @money
  .fibers
    %h2 Fibers
    - each @purchasableFibers, (fiber) ->
      .fiber
        .price
          ¢
          = fiber.price
        .type= fiber.type
        .weight= "#{fiber.weight} kg"
        %button.purchase Purcase!
          - on "click", ->
            - game.purchase(fiber)

  .bins
    %h2 Bins
    - each @bins, (item) ->
      .item
        .type= item.type
        .weight= item.amount

  .cyborgs
    %h2 Cyborgs
    - each @cyborgs, (cyborg) ->
      .cyborg
        %progress(value=cyborg.durability max=cyborg.durabilityMax)
        .name= cyborg.name

        %select
          - each game.bins, (bin) ->
            %option= bin.type()

  .demand
    %h2 Demand
