- game = this

.game
  .stats
    ¢
    = @money

  .fibers
    %h2 Supply
    - each @purchasableFibers, (fiber) ->
      .fiber
        .price
          ¢
          = fiber.price
        .price
          = "(¢#{Math.floor fiber.price / fiber.amount} ea)"
        .type= fiber.type
        .amount= "#{fiber.amount} kg"
        %button.purchase Purchase!
          - on "click", ->
            - game.purchase(fiber)

  .bins
    %h2 Materials
    - each @bins, (item) ->
      .item
        .type= item.type
        .amount= item.amount

  .cyborgs
    %h2 Cyborgs
    - each @cyborgs, (cyborg) ->
      .cyborg
        %h3.name= cyborg.name
        %progress(value=cyborg.durability max=cyborg.durabilityMax)

        .special
          %button Repair
            = "(¢"
            = cyborg.repairCost
            = ")"
            - on "click", ->
              - game.repair(cyborg)

        .primary
          %select
            - each [1, 5, 10, 25], (quantity) ->
              %option(value=quantity)= quantity
            - on "change", cyborg.selectedQuantity
  
          %select
            %option
            - each game.bins, (bin) ->
              %option(value=bin.type)= bin.type()
            - on "change", cyborg.selectedBin

          %button Knit!
            - on "click", ->
              - cyborg.produce cyborg.selectedBin(), game.output

    %button 
      Purchase New Cyborg
      = @cyborgPrice
      - on "click", @purchaseCyborg


  .inventory
    %h2 Inventory
    - each @inventory, (item) ->
      .item
        .type= item.type
        .amount= item.amount

  .demands
    %h2 Demand
    - each @demands, (item) ->
      .demand
        .type
          = item.type
          = " Knitted Goblin"
        .price
          ¢
          = item.price
        %button.sell Sell
          - on "click", ->
            - game.sell item

#player

#overlay
  %h2
  %button.dismiss Ok, I got it!
