- game = this

.game
  .stats
    .money
      .title
        Money
      ¢
      = @money
  .fibers
    %h2 Fibers
    - each @purchasableFibers, (fiber) ->
      .fiber
        .price
          ¢
          = fiber.price
        .type= fiber.type
        .weight= "#{fiber.weight} kg"
        %button.purchase Purcase!
          - on "click", ->
            - game.purchase(fiber)

  .inventory
    %h2 Bins
    - each @inventory, (item) ->
      .item
        .type= item.type
        .weight= item.amount

  .cyborgs Cyborgs
